<div class="w-[789px] mx-auto py-5 gap-5 flex flex-col justify-center" style="height: calc(100vh - 64px);">
  @if (messages().length > 0 || partialResponse()) {
    <div class="flex flex-1 overflow-hidden">
      <div class="flex-1 flex flex-col w-full overflow-y-auto gap-2.5 p-2.5">
        @for (message of messages(); track message) {
          <ollama-chat-chat-message
            [message]="message"
            [isLoading]="isLoading()"
            (regenerate)="onRegenerateMessage($event)"
          />
        }
        @if (partialResponse()) {
          <ollama-chat-chat-message
            [message]="{
                 role: 'assistant',
                 content: partialResponse(),
               }"
            [isLoading]="isLoading()"/>
        }
      </div>
    </div>
  }
  <ollama-chat-chat-input
    [isLoading]="isLoading()"
    [hasHistory]="messages().length > 0"
    (sendMessage)="onSendMessage($event)"
    (abort)="onAbortMessage()"
    (newChat)="onNewChat()"
  />
</div>
