<mat-toolbar class="ollama-toolbar">
  <button mat-icon-button
          aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Ollama Chat</span>
  <span class="example-spacer"></span>
  <div>
    <button mat-button [matMenuTriggerFor]="modelMenu">
      <mat-icon>arrow_drop_down</mat-icon>
      {{ currentModel()?.name || 'Select Model' }}
    </button>
    <mat-menu #modelMenu="matMenu">
      @for (model of availableModels(); track model.name) {
        <button
          mat-menu-item
          (click)="onModelChange(model.model)">
          {{ model.name }}
        </button>
      }
    </mat-menu>
  </div>
  <button matIconButton class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button matIconButton class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
