<div class="border border-gray-200 rounded-lg p-4 bg-white shadow-md text-lg flex flex-col gap-4">
  <div>
    <textarea
      placeholder="Type your message here..."
      [(ngModel)]="currentMessage"
      (keypress)="onKeyPress($event)"
      class="w-full resize-none"
      [disabled]="isLoading"
    ></textarea>
  </div>
  <div class="flex flex-row justify-between gap-2">
    <div>
      <button mat-button (click)="onNewChat()" [disabled]="isLoading">
        <mat-icon>add</mat-icon>New chat
      </button>
      <button mat-button (click)="onClearInput()" [disabled]="isLoading">
        <mat-icon>cleaning_services</mat-icon> Clear
      </button>
      <button mat-button [disabled]="isLoading">
        <mat-icon>description</mat-icon> System prompts
      </button>
    </div>
    <div>
      @if (isLoading) {
        <button mat-icon-button (click)="onAbort()">
          <mat-icon>stop</mat-icon>
        </button>
      } @else {
        <button mat-icon-button (click)="onSendCurrentMessage()">
          <mat-icon>send</mat-icon>
        </button>
      }
    </div>
    </div>
</div>
